#page-contactus {
  padding: 0 20%;
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-template-rows: 100vh;
}

.contact-form-div {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.contact-img-div {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contact-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

@media screen and (max-width: 837px) {
  .contact-img-div {
    display: none;
  }

  #page-contactus {
    padding: 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .contact-form-div {
    padding-right: 0;
  }
}
